<app-dashheader></app-dashheader>
<div class="page-info-section set-bg" style="background-image:url('assets/img/page-bg/4.jpg')">

</div>


<section class="categories-section spad">
    <div class="container">
        <div class="row">
            <!-- categorie -->
            <div class="col-lg-4 col-md-6" style="cursor: pointer">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" style="background-image:url('assets/img/categories/1.jpg')"></div>
                    <div class="ci-text" routerLink="/dashedit" routerLinkActive="active">
                        <h5>Manage Courses</h5>
                    </div>
                </div>
            </div>

            <!-- categorie -->
            <div class="col-lg-4 col-md-6" style="cursor: pointer">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" style="background-image:url('assets/img/categories/6.jpg')"></div>
                    <div routerLink='/dashcourse' routerLinkActive="active" class="ci-text">
                        <h5>Add Courses</h5>


                    </div>
                </div>
            </div>

            <!-- categorie -->
            <div class="col-lg-4 col-md-6" style="cursor: pointer">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" style="background-image:url('assets/img/categories/2.jpg')"></div>
                    <div class="ci-text" routerLink="/dashcontact" routerLinkActive="active">
                        <h5>Feedback</h5>
                    </div>
                </div>
            </div>
            <!-- categorie -->

            <div class="col-lg-4 col-md-6" style="cursor: pointer">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" style="background-image:url('assets/img/categories/3.jpg')"></div>
                    <div class="ci-text" routerLink="/dashsignup" routerLinkActive="active">
                        <h5>SignUp</h5>
                    </div>
                </div>
            </div>
            <!-- categorie -->

            <div class="col-lg-4 col-md-6" style="cursor: pointer">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" style="background-image:url('assets/img/categories/4.jpg')"></div>
                    <div class="ci-text" routerLink="/dashteacher" routerLinkActive="active">
                        <h5>Registered Teachers</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>